<section id="deliberation" class="row comments" ng-controller="CommentsListCtrl">
    <div class="col-md-12">
        <ul class="comments">
            <li class="row comment" ng-repeat="comment in comments | orderBy: 'date'">
                <div class="image-profile-comment col-md-1">
                    <img ng-src="{{comment.picture}}" alt="" />
                </div>
                <div class="col-md-11 text-comment">
                    <h5 class="user-comment"><a href="#/deliberation/user={{comment.user}}">{{comment.user}}: </a></h5>
                    <p class="comment-comment"><a href="#/deliberation/comment={{comment._id}}">{{comment.comment}}</a></p>
                    <p class="date-comment"><time datetime="{{comment.date}}"/>{{comment.date | date:"MM/dd/yyyy 'at' HH:mm:ss"}}</p>
                    <div class="options-comment">
                        <ul class="tags" ng-repeat="tag in comment.tags">
                            <li class="tag {{tag.type}}">#{{tag.tag}}</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>