<section id="deliberation" class="row comments">
    <div class="col-md-12">
        <ul class="comments">
            <li class="row comment">
                <div class="image-profile-comment col-md-1">
                    <img ng-src="http://cdn.morguefile.com/imageData/public/files/o/Oleander/12/l/1418846725d5h3t.jpg" alt="" />
                </div>
                <div class="col-md-11">
                    <div text-angular="" ng-model="comment"></div>
                    <button type="button" class="btn btn-primary pull-right" ng-click="update(comment)">Save</button>
                </div>
            </li>
            <li class="row comment" ng-repeat="comment in comments.comments | orderBy: '-date'">
                <div class="image-profile-comment col-md-1">
                    <img ng-src="{{comment.user[0].picture}}" alt="" />
                </div>
                <div class="col-md-11 text-comment">
                    <h5 class="user-comment"><a ng-href="#/deliberation/user={{comment.user[0]._id}}">{{comment.user[0].name}}: </a></h5>
                    <p class="comment-comment"><a ng-href="#/deliberation/comment={{comment._id}}">{{comment.comment}}</a></p>
                    <p class="date-comment"><time datetime="{{comment.date}}"/>{{comment.date | date:"MM/dd/yyyy 'at' HH:mm:ss"}}</p>
                    <div class="options-comment">
                        <ul class="tags" ng-repeat="tag in comment.tags">
                            <li class="tag {{tag.type}}">#{{tag.name}}</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>